body {
  font-family: "Oswald", serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2em;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  /* estilo especifico */
  
  .modificar-producto {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .modificar-producto h2 {
    text-align: center;
  }
  
  .modificar-producto form {
    margin-top: 20px;
  }
  
  .modificar-producto input[type="text"],
  .modificar-producto input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .modificar-producto input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }