form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Oswald", serif;
}

label {
    font-weight: bold; 
}

.modif-form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input {
    width: 10%;
    padding: 5px;
    border: 1px solid #846969;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: #251a1a;
    margin: 0 auto;
    padding: 20px;
}
