
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    height: 50px;  
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", serif;
  }

section{
 height: 100% ; 
 background-image: url('/img/newimg.webp'); 
 background-size: cover; /* hace que la imagen ocupe todo*/ 
 background-position: center; /* Centra */
 background-repeat: no-repeat; /* evita que repita */
 /* filter: blur(5px); desenfoque  */
 font-family: "Oswald", serif;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Oswald", serif;
  }

.container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* corrige grid */
    gap: 80px; /* Espacio entre  form */
    padding: 40px; 
    max-width: 90%; 
    margin-left: 10%;
    font-size: 18px;
}

form {
    padding: 20px;
    width: 20%;
    min-width: 550px; 
}

legend{
    font-size: 50px;
    font-weight: bold;
    color: #be7a7a;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* sombra  */
}

fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* más suave */
    border-radius: 5px; 
}

input{
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-bottom: 5px;
    border: 1px solid #ccc; /* más suave */
    border-radius: 5px; 
}

button{
    border: 0.5px solid #ccc; /* más suave */
    border-radius: 5px; 
    background: transparent;
}


h1{
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#d3b7b7;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* sombra  */
}