
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

section{
 height: 100% ; 
 background-image: url('/img/newimg.webp'); 
 background-size: cover; /* hace que la imagen ocupe todo*/ 
 background-position: center; /* Centra */
 background-repeat: no-repeat; /* evita que repita */
 /* filter: blur(5px); desenfoque  */
 font-family: "Oswald", serif;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* corrige grid */
    gap: 80px; /* Espacio entre  form */
    justify-content: center;
    padding: 20px; 
    max-width: 100%; 
    margin-left: 40px;
    font-size: 18px;
}

form {
    padding: 30px;
    width: 30%;
    min-width: 900px; 
}

input{
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-bottom: 5px;
}

h1{
    margin-top: 30px;
    color:#d3b7b7;
    text-align:center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* sombra  */
}